<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.springcore.ci.Certi" name="cer">
	<constructor-arg value="Java"/>
	</bean>

	<bean class="com.springcore.ci.Person" name="p1">
	<constructor-arg value="200782"/>
	<constructor-arg value="Dhruv"/>
	<constructor-arg ref="cer"/>
	</bean>
</beans>